/* 設定圖片變數 */
:root {
  --img-item-a-url: url('https://assets-lighthouse.alphacamp.co/uploads/image/file/14372/bastian-ignacio-vega-cani-9UAfLTqMoS0-unsplash__2_.png');
  --img-item-b-url: url('https://assets-lighthouse.alphacamp.co/uploads/image/file/14365/anomaly-WWesmHEgXDs-unsplash.jpg');
  --img-item-c-url: url('https://assets-lighthouse.alphacamp.co/uploads/image/file/14374/faith-yarn-hgtWvsq5e2c-unsplash.png');
  --img-item-d-url: url('https://assets-lighthouse.alphacamp.co/uploads/image/file/14373/christian-bolt-VW5VjskNXZ8-unsplash.png');
}

/* * * *CSS reset 還原瀏覽器預設設定* * * */
/* 載入字型 */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  width: 100%;
  height: 100%;
  /* 當點擊導覽列內的選項，可以『滑順地』滑到該處 */
  scroll-behavior: smooth;
  font-family: m-plus-rounded-1c, sans-serif;
  font-weight: 700;
  /* 1,2,4,5,7,8,9 */
  font-style: normal;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

ul,
li {
  list-style-type: none;
  /* 拿掉 bullets */
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  /* 拿掉底線 */
  color: black;
}

/* * * * * * *撰寫共用樣式 * * * * * * */
.container {
  width: 95%;
  height: auto;
  margin: 0 auto 2rem auto;
}

/* item */
.bg-cover {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.img-item-a {
  background-image: var(--img-item-a-url);
}

.img-item-b {
  background-image: var(--img-item-b-url);
}

.img-item-c {
  background-image: var(--img-item-c-url);
}

.img-item-d {
  background-image: var(--img-item-d-url);
}

/* * * * * * HEADER * * * * * */

/*Main Header*/
header {
  /*固定置頂*/
  /* 跳脫頁面流 */
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 45px;
  /* margin-bottom: 30px; */
  text-align: center;
  background-color: rgba(255, 255, 255, 0.95);
  /* 陰影檢查用，再拿掉 */
  -webkit-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.1);
}

.nav-wrapper {
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-wrapper .menu-mobile .icon-search {
  position: relative;
  left: 2rem;
}

.home-page {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%);
}

.home-page > a {
  display: flex;
  /* line-height: 45px; */
  align-items: center;
}

.home-page > a > .logo {
  height: 36px;
  margin-right: 0.5rem;
}

.home-page > a > h1 {
  font-weight: 500;
  font-size: 1.2rem;
  /* display: inline-block; */
  line-height: 45px;
}

.home-page sup {
  font-size: 10px;
}

.nav-gender > ul,
.nav-action > ul {
  display: grid;
  grid-template: 1fr / repeat(3, 1fr);
  gap: 3rem;
}

.nav-action > ul {
  gap: 1rem;
}

/* mobile vs desktop icon */
.menu-mobile {
  display: block;
}

.menu-desktop {
  display: none;
}

/* FILTER */
.filter {
  /* header 是 fixed ，filter 以及下方的所有區塊都是 static 會一起往上跑 */
  /* 不慌、加這一行讓帶頭的 filter 往下就好了 */
  padding-top: 85px;
}

.filter > .container {
  display: grid;
  grid-template: 3rem 1fr/1fr;
  justify-items: center;
}

.filter .filter-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  column-gap: 3rem;
}

select {
  background-color: #fff;
  width: 9.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  height: 42px;
  /* 使用 appearance 属性来去除默认的系统外观。 */
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
}

/* SECTION-PRODUCT */
#product-wrapper {
  display: grid;
  gap: 1.5rem;
  /* 不知道範例如何做到縮到很小還是有兩件 t-shirt */
  /* -> basic grid, breakpoint 600px & 960px*/
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  grid-template: auto / repeat(2, 1fr);
  width: 100%;
  /* 每新增一個指定長度的 item*/
  grid-auto-rows: minmax(150px, auto);
}

.item-card {
  position: relative;
  opacity: 0;
  transition: ease 0.5s;
}

.item-card.show {
  opacity: 1;
  transition: ease 0.5s;
}

.item-card .circle-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: #fff;
  border-radius: 50%;
  padding: 0.6rem;
}

.img-container .product-img {
  background-color: #fff;
  opacity: 1;
  transition: opacity 0.3s;
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.img-container:hover img {
  opacity: 0;
}

.item-card p {
  text-align: center;
}

.item-card .item-heading {
  padding: 10px 0 5px 0;
  font-weight: 400;
}

.item-details > .item-price.sold-out {
  font-weight: 400;
}

/* SECTION-PAGINATION*/
.page {
  margin: 100px 0;
  font-weight: 400;
  font-size: 0.8rem;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.page > li {
  background-color: #fff;
  height: 2rem;
  width: 2rem;
  padding: 0;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 50%;
  line-height: 2rem;
}
.page > li.active {
  background-color: #b4dd7f;
  border: 0.5px solid #527920;
}

.page > li:not(:last-child) {
  margin-right: 0.5rem;
}

.page > li:hover {
  background-color: #b4dd7f;
}

.page > li > a {
  display: block;
  width: 100%;
  height: 100%;
}

/* SECTION-NEWSLETTER */
section.newsletter .container {
  /* 為了讓底部不要跟 footer 有間距 */
  margin-bottom: 0px;
  width: 100%;
}

section.newsletter .news-banner {
  position: relative;
  height: 240px;

  /* 原本想要用 bg-img */
  /* width: 100%; */
  /* bottom: 2rem; */
  /* background-image: url("https://assets-lighthouse.alphacamp.co/uploads/image/file/14376/template.png"); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  /* background-position: center center; */
  /* overflow: hidden; */
  /* max-width: 931px; */
  /* max-width: 85%; */
}

.news-banner > img {
  position: absolute;
  width: 100%;
  /* 加上這兩個才能符合 RWD-前段 */
  height: 100%;
  object-fit: cover;
}

.news-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}

label.newsletter-title {
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.5;
}

form.sign-up-form {
  /* 加上這個再細部調整兩者 */
  font-size: 0;
  border-radius: 25px;
  box-shadow: 0 0 3px 0 #ddd;
  width: 70%;
  height: 3rem;
  position: relative;
  top: 0;
  left: 0;
}

form .form-input-email {
  /* width: 100%; */
  width: calc(100% - 100px);
  height: 3rem;
  border: none;
  /* 要寫絕對單位，才不會 rwd 破版 */
  border-radius: 25px 0 0 25px;
  padding: 7px 14px;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

form .form-input-email:focus-visible {
  outline: none;
  border: 1px solid #000;
}

form .form-submit-btn {
  width: 100px;
  height: 3rem;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 0 25px 25px 0;
  padding: 10px 1rem;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  position: absolute;
  top: 0;
  right: 1px;
}

form .form-submit-btn:hover {
  background-color: #b4dd7f;
  border: 1px solid #b4dd7f;
}

.terms {
  font-weight: 400;
  font-size: 0.7rem;
}

.terms-link {
  text-decoration: underline;
}

/* FOOTER */
footer {
  text-align: center;
  background-color: #ededed;
  width: 100%;
  margin: 0 auto;
  line-height: 2rem;
  font-weight: 400;
  font-size: 0.8rem;
}

@media screen and (min-width: 600px) {
  #product-wrapper {
    grid-template: auto / repeat(3, 1fr);
    grid-auto-rows: minmax(250px, auto);
  }

  .img-container .product-img {
    height: 250px;
  }

  form.sign-up-form {
    width: 60%;
  }
}

@media screen and (min-width: 960px) {
  .menu-mobile {
    display: none;
  }

  /* 新發現，如果前面已經寫過指定兩個 class 都要有，之後就也要寫＠＠ */
  /* update: 權重的關係 */
  .menu-desktop.nav-gender {
    display: inline-block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .home-page {
    position: initial;
    left: initial;
    transform: initial;
  }

  .home-page > a > .logo {
    height: 45px;
  }

  .home-page > a > h1 {
    font-weight: 700;
    font-size: 1.5rem;
  }

  #product-wrapper {
    grid-template: auto / repeat(4, 1fr);
    grid-auto-rows: minmax(350px, auto);
  }

  .img-container .product-img {
    height: 350px;
  }

  section.newsletter .news-banner {
    display: flex;
    justify-content: center;
  }

  section.newsletter .news-banner > img {
    width: 85%;
  }

  .news-wrapper {
    width: 85%;
  }

  form.sign-up-form {
    width: 50%;
  }
}
